:root {
    --img-size: 35px;
}

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#images {
    display: flex;
    margin-top: 8rem;
}

#images img {
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 999px;
    margin: 0px 0.5rem 0px 0.5rem;
    border: 3px solid white;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
